:root {
  /* light mode colours */
--primary-0: rgba(215,222,219,1);         
--primary-1 : rgba(141,183,165,1); 
--primary-2 : rgba(172,202,189,1);      
--primary-3 : rgba(166,179,173,1); 
--primary-4 : rgba(144,160,153,1);
--complement-0 : rgba(255,249,246,1);         
--complement-1 : rgba(255,213,196,1); 
--complement-2 : rgba(255,228,217,1);
--complement-3 : rgba(255,242,236,1); 
--complement-4 : rgba(233,217,211,1); 
 /* dark mode colours */
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}


body {
    font-family: 'Lato', sans-serif;
}

.navBar {
    display: flex;
    justify-content: space-evenly;
    position: sticky;
}

.top {
    width:40%;
    text-align: center;
    /* border-right: 1px solid lightgray;
    border-left: 1px solid lightgray; */
}


.logo {
    width: 6rem;
    display: flex;
    justify-content: flex-end;
    position: fixed;
    margin-top: 1rem ;
}

.left-footer {
    position: fixed;
    bottom: 0;
    left: 1.5rem;
}

.top-right {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.search {
    position: fixed;
    margin-top: 1rem ;
}

.sort {
    position: fixed;
    top: 7rem;
}

.trending {
    position: fixed;
    top: 12rem;
}

.quacker {
    font-family: 'Lato', sans-serif;
    font-size: 3rem;
    display: flex;
    justify-self: flex-start;
    margin-left: 2rem;
    margin-top: 1rem;
}

#quack-test-holder {
    padding: 1rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.quack-box {
    /* border: 1px solid red; */
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-top: 4rem;
}

.rightbox {
    width:187%;
}

/*
input {
     background-color: white;
    border-color: white;
    border-image: none; 
    border-width:0px; 
}
*/

#quack-input { 
    border-width: 0px;
    padding-bottom: 1rem;
    width: 100%;
    height: 6rem;
    word-wrap: break-word;
    word-break: break-all;

}
#quack-input:hover {
    box-shadow: 0px 0px 4px 0px;
}

#quack-input:focus {
    outline: none;
}
.bottom-quack {
    display: flex;
    justify-content: space-between;
    margin-right: 0.5rem;
    align-items: baseline;
}

#add-image {
    font-size: 2.5rem;  
}

#add-image:hover {
    color: #60a74a;
    cursor: pointer;
}

.gif {
    font-weight: 800;
    font-size: 15px;
}

.gif:hover {
    cursor: pointer; 
}

.redg {
    color: red;
}

.redg:hover {
    color: rgb(0, 255, 221);
    cursor:pointer;
}

.yellowi {
    color: greenyellow
}

.yellowi:hover {
    color: rgb(248, 165, 55);
    cursor:pointer;
}

.img-input {
    width: 100%;
}

#gifForm {
    margin-top: 5px;
}

#search {
    width: 97%;
    margin-left: -1.5px;
}



.bluef {
    color:lightskyblue;
}
.bluef:hover {
    color:rgb(233, 87, 208);
    cursor:pointer;
}
#quack-btn {
    border-radius: 3rem;
    border-width: 0px;
    width: 10rem;
    height: 3rem;
    background-color: #60a74a;
    color: white;
    font-weight: 700;
    font-size: 15px;
    margin-top: 0.5rem;
}

#quack-btn:hover {
    background-color: #6bbd52;
}

.custom-card-title {
    
}

.card {
    box-shadow: 0px 0px 10px rgba(0,0,0,0.3)
}

.custom-card {
    box-shadow: 0px 0px 10px rgba(147, 247, 200, 0.6);
    padding: 5px;
    width: 500px;
}

.reactions-div {
    margin-bottom: 30px;
}

.reaction-button:focus {
    outline: none;
    box-shadow: none !important;
}

.quack-reactions i {
    
    margin-bottom: 30px;
    font-size: 2rem;
}

div > .card-footer {
    background-color: var(--primary-1);
    /* display: flex; */
    /* justify-content: space-evenly; */
}

.card-footer > h4 {
    color: var(--complement-0); 
    font-weight:bolder;
}

.card-footer p {
    margin-top: 1rem;
    font-size: 1rem;
    margin-bottom: -5px;
}

.timeStamp {
    font-size: 0.8rem;
}

.quack-reactions .card-icons {
    margin-top: 0.5rem;
    margin-left: 1rem;
    margin-right: 1rem;
}

.quack-reactions .card-icons:hover {
    color: #60a74a;
    cursor: pointer;
}

.reactions-div {
    display: flex;
    justify-content: space-around;
    width: 40%;
    margin: auto;
    padding: 1rem;
}

.reactions-div > button {
    border-radius: 10px;
    padding: 0.5rem 1rem;
    border: var(--primary-2) solid 0.5px;
}

.reactions-div > button:hover, 
.reactions-div > button:active {
    border: var(--complement-0) solid 0.5px;
    background-color: var(--primary-0);
    font-weight: bolder;
    color: var(--complement-0);
}

.search {
    border: 1px solid lightgray;
    width: 23rem;
    height: 4rem;
    border-radius: 3rem;
    display: flex;
    align-items: center;
    padding-left: 1.5rem;
}

#search-input {
    border-width: 0px;
}
#search-input:focus {
    outline: none;
    margin-left: 0.3rem;
}
.mobile-logo {
    display: none;
}
.mobile-btns {
    display: none;
    font-size: 3rem;
    color:black;
    margin-top: 0.8rem;
}

.card {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.hidden {
    visibility: hidden;
}

.quack-holder {
    margin-bottom: 4rem;
}





@media only screen and (max-width: 970px) {
    /* .top-left {
        display: none ;
    } */
    .left-footer {
        display: none;
    }
    .top-right {
        display: none ;
    }
    .top {
        width: 50%;
        margin-right: 5px;
        
        
    }
    footer {
        position:fixed;
        height: 50px;
        background-color: lightgreen;
        bottom:0px;
        left: 0px;
        right: 0px;
        margin-bottom: 0px;
    }
    .mobile-btns {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        
}
 
   
    /* .mobile-logo {
        display: inline-block;
        position: absolute;
        left: 5px;
        top:5px; 
        width: 60px; 
        
    }
     */

}

@media only screen and (max-width: 500px) {
    .top {
        width: 100%;
    }
    .quacker {
        display: inline-block;
        
    }
    .logo {
        position: absolute; 
    }
}


